body {
    margin: 0;
}
.body {
    width: 100%;
 background: url(background.jpg);
 background-size: cover;
 background-position: center;
height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
 
.dialog.shown {
 opacity: 1;
 visibility: visible;
}
 
.dialog {
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 opacity: 0;
 visibility: hidden;
}
 
.dialog-overlay {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
}
.container {
 display: flex;
 height: 100vh;
}
.Quiz {
 position: relative;
}
.mongolquiz {
 font-size: 72px;
 font-weight: 700;
 color: #fff;
 margin-bottom: 15px;
}
.taniltsuulga {
 font-size: 36px;
 font-weight: 600;
 color: #fff;
 margin-left: 130px;
 margin-bottom: 20px;
}
.start-btn {
 margin-left: 230px;
 width: 190px;
 height: 60px;
 font-size: 24px;
 background-color: #c40094;
 border: 2px solid #fff;
 border-radius: 6px;
 box-shadow: 0 0 10px #c40094;
 transition: 0.5s;
 cursor: pointer;
}
.start-btn:hover {
 background-color: #333;
}
.popup-info {
 position: absolute;
 background-color: #fff;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 color: #fff;
 width: 500px;
 border-radius: 6px;
 padding: 10px 25px;
}
 
.popup-info.active {
 opacity: 1;
 visibility: visible;
 pointer-events: auto;
}
.popup-info h2 {
 font-size: 50px;
 color: #c40094;
 margin: 0;
}
.guide span {
 display: flex;
 flex-direction: column;
 font-size: 20px;
 font-weight: 500;
 margin: 15px 0;
 color: #333;
}
.btn-group {
 display: flex;
 justify-content: space-between;
 border-top: 1px solid #999;
 margin-top: 10px;
 padding: 15px 0 7px;
}
.info-btn {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 130px;
 height: 45px;
 background-color: #c40094;
 border: 2px solid #c40094;
 outline: none;
 border-radius: 6px;
 text-decoration: none;
 font-size: 16px;
 color: #fff;
 font-weight: 600;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 cursor: pointer;
 transition: 0.6s;
}
.exit-btn {
 background-color: transparent;
 color: #c40094;
}
.exit-btn:hover {
 background-color: #c40094;
 color: #fff;
}
.continue-btn {
 background-color: transparent;
 color: #c40094;
}
.continue-btn:hover {
 background-color: #c40094;
 color: #fff;
}
.quiz-section{
 width: 100%;
 background: seagreen;
}